.container-wrapper {
  height: 100vh;
  width: 100%;
  background-color: cornflowerblue;
}

.card {
  max-width: 550px;
  margin: 0 auto;
  top: 50vh;
  transform: translate(0, -50%);
}

.disable-invalid-message {
  display: none;
}