<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img [src]="'assets/img/logo_transparent.png'" alt='logo' id='logo' class='mr-3 ml-3'>
    Cogent Fedex
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"
          *ngIf="isAuthenticated"
          [ngClass]="setActive('dashboard')">
        <a class="nav-link" [routerLink]="['/dashboard', currentUserFirstName + currentUserLastName]">
          Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/products" [ngClass]="setActive('products')">
          Products
        </a>
      </li>

      <li class="nav-item"
          [ngClass]="setActive('users')"
          *ngIf="isAuthenticated && hasAdminRole">
        <a class="nav-link" href="/users">View users</a>
      </li>

    </ul>
    <div class="navbar-text">
      <!-- If User authenticated -->
      <div class="navbar-nav font-weight-bold" *ngIf="isAuthenticated" [style.color]="'rgb(76, 159, 238)'">
        <span>
          <i class="fas fa-user"></i>&nbsp;&nbsp;
          {{ currentUserFirstName }} {{ currentUserLastName }}
        </span>
        <span>&nbsp;&nbsp;</span>
        <a [routerLink]="['/login']" (click)="logout()">
          Log out
        </a>
      </div>

      <!-- If User NOT authenticated -->
      <div class="navbar-nav font-weight-bold" *ngIf="!isAuthenticated">
        <div>
          <a href="/login">
            Login
          </a>
          <span>&nbsp;|&nbsp;</span>
          <a href="/register">
            Register
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>