<ng-container>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)"
               type="line-scale">
  </ngx-spinner>
  <app-navbar active="products"></app-navbar>
  <div class="container mb-5">
    <h2 class="mt-3 mb-3">Products</h2>

    <!-- Products list -->
    <div class="row">

      <!-- Single card-->
      <div class="col-md-4 mb-4" *ngFor="let product of products">
        <div class="card border-0 h-100">
          <img [src]="product.imageUrl" class="card-img-top d-block m-auto" [alt]="product.name">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>

            <div class="card-text text-muted">
              {{ product.description }} <br>
              <span>Price: {{ product.price }} <small>{{product.currency}}</small> </span> <br>
              <span *ngIf="product.availability">
                <small class="badge badge-success">In stock</small>
                <small class="ml-2 text-success">{{ product.quantity }} left</small>
              </span>
              <small *ngIf="!product.availability" class="badge badge-danger">Out of stock</small>
            </div>

            <button type="button"
                    *ngIf="isAuthenticated"
                    [disabled]="!product.availability"
                    class="btn btn-outline-secondary mt-2">
              <small>Add to cart</small>
            </button>
          </div>
        </div>
      </div>
      <!-- End of card -->

    </div>
  </div>


  <app-footer></app-footer>
</ng-container>