<ng-container>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)"
               type="line-scale">
  </ngx-spinner>
  <app-navbar active="users"></app-navbar>
  <div class="container mb-5">
    <h2 class="mb-4 mt-4 text-center">List of users</h2>

    <!-- Success/Error delete user message -->
    <p *ngIf="deleteUser_successMsg"
       class="alert alert-success mb-5">
      {{ deleteUser_successMsg }}
    </p>
    <p *ngIf="deleteUser_errorMsg && current_actionType === DELETE_USER_FAILURE"
       class="alert alert-danger mb-5">
      {{ deleteUser_errorMsg }}
    </p>
    <!-- End of Success/Error delete user message-->

    <ul *ngFor='let user of users_list; index as userOrder' class="list-unstyled list-users">
      <li class="media">
        <p id='nameCircle' class="mr-3">
          {{ user.firstName[0] }}{{ user.lastName[0] }}
        </p>

        <div class="media-body">
          <div class="row">
            <div class="col-md-8">
              <h5 class="mt-0 d-flex align-items-center">
                <a [routerLink]="['/user/details']" (click)="onViewUserDetails(user)"
                   [title]="'View details'" [style.color]="'black'">
                  <span class="mr-3">{{ user.firstName }} {{ user.lastName }}</span>
                </a>
                <small *ngFor="let role of user.roles" class="text-muted mr-1">
                  <span class="badge"
                        [ngClass]="{
                                  'badge-info': role.role === 'ADMIN',
                                  'badge-success': role.role === 'CUSTOMER',
                                  'badge-warning': role.role === 'EMPLOYEE'
                                }">
                    {{ role.role }}
                  </span>
                </small>
              </h5>
              <span class="text-muted">
                <i class="far fa-star text-warning" *ngIf="user.email === current_user.email">&nbsp;&nbsp;</i>
                {{ user.email }}
              </span>
            </div>

            <div class="col-md-4 buttons">
              <!-- Edit user -->
              <button class="btn btn-outline-secondary mr-2">
                <i class="fas fa-pen"></i>
              </button>

              <!-- Delete user -->
              <button class="btn btn-outline-danger" (click)="onDelete(user)">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>

        </div>
      </li>
      <hr>
    </ul>

    <button *ngIf="addBtn_show"
            class="btn btn-dark d-block m-auto"
            (click)="onAdd()">
      <i class="fas fa-plus">&nbsp;&nbsp;</i>
      Add
    </button>

    <app-admin-add-user [add_clicked]="!addBtn_show"
                        (addEvent)="addUser($event)"
                        (cancelAdd)="cancelAdd($event)">
    </app-admin-add-user>

  </div>
  <app-footer></app-footer>
</ng-container>