<ng-container>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)"
               type="line-scale">
  </ngx-spinner>

  <app-navbar active="dashboard"></app-navbar>

  <div class="container mb-5">
    <h2 class="mb-4 mt-4 text-center">Dashboard</h2>
    <p *ngIf="success_msg" class="alert alert-success"> {{ success_msg }}</p>
    <p id='nameCircle' *ngIf="firstNameTitle && lastNameTitle">
      {{ firstNameTitle[0] }}{{ lastNameTitle[0] }}
    </p>
    <h4 class="mt-3 mb-3 text-center">Welcome {{ firstNameTitle }} {{ lastNameTitle }}</h4>

    <p class="mb-3 text-center">
      <i class="fas fa-user-edit">&nbsp;&nbsp;</i>Edit Information
    </p>

    <div class="card card-body m-auto">
      <div *ngIf="error_msg"
           class="alert alert-danger">
        Possible errors:
        <ul *ngFor="let error of error_msg">
          <li>{{ error }}</li>
        </ul>
      </div>

      <form>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control"
                 id="email" [attr.disabled]="true"
                 [value]="email"
                 placeholder="Enter email">
        </div>

        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="firstName" class="form-control"
                 id="firstName"
                 [value]="firstNameTitle"
                 #firstName
                 placeholder="Enter first name">
        </div>

        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="lastName" class="form-control"
                 id="lastName"
                 [value]="lastNameTitle"
                 #lastName
                 placeholder="Enter last name">
        </div>

        <button type="submit" class="btn btn-primary mr-2" (click)="onUpdate(firstName.value, lastName.value)">
          <i class="fas fa-pen">&nbsp;&nbsp;</i>Update
        </button>
        <button type="submit" class="btn btn-danger" (click)="onDelete(firstName.value, lastName.value)">
          <i class="fas fa-trash">&nbsp;&nbsp;</i>Delete
        </button>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</ng-container>