.container-wrapper {
  height: 120vh;
  width: 100%;
  background-color: cornflowerblue;
}

.card {
  max-width: 650px;
  margin: 0 auto;
  top: 60vh;
  transform: translate(0, -50%);
}

#logo {
  display: block;
  margin: auto;
  height: 150px;
  width: 150px;
}

@media only screen and (max-width: 375px) {
  .card {
    transform: translate(0, -50vh);
  }
}